@font-face {
  font-family: 'Work Sans';
  src: url('../public/static/fonts/WorkSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/static/fonts/WorkSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/static/fonts/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/static/fonts/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input,button,a,select {
  font-family: 'Work Sans', Segoe UI, Roboto, Oxygen,
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;